{% include head.html %}

{% include header.html %}

<div class="layout-container--tight layout-container--push">

  <div id="readme" class="markdown">

    <h1 id="documentation">Documentation</h1>

    <div class="docs
    {% if page.section == "faqs" %}docs--faqs{% endif %}
    {% if page.section == "ruby" %}docs--ruby{% endif %}
    {% if page.section == "nodejs" %}docs--nodejs{% endif %}
    {% if page.section == "java" %}docs--java{% endif %}
    {% if page.section == "python" %}docs--python{% endif %}
    {% if page.section == "scala" %}docs--scala{% endif %}
    {% if page.section == "golang" %}docs--golang{% endif %}
    {% if page.section == "dotnet" %}docs--dotnet{% endif %}
    {% if page.section == "php" %}docs--php{% endif %}
    {% if page.section == "docker" %}docs--docker{% endif %}
    {% if page.section == "heroku" %}docs--heroku{% endif %}
    {% if page.section == "aws-lambda" %}docs--lambda{% endif %}
    {% if page.section == "azure-functions" %}docs--azure-functions{% endif %}
    {% if page.section == "cloud-foundry" %}docs--cloud-foundry{% endif %}
    {% if page.section == "pivotal-web-services" %}docs--pivotal-web-services{% endif %}
    {% if page.section == "quick-start" %}docs--quick-start{% endif %}
    {% if page.section == "using-snyk" %}docs--using-snyk{% endif %}
    {% if page.section == "broker" %}docs--broker{% endif %}
    {% if page.section == "custom-package-registries" %}docs--custom-package-registries{% endif %}
    {% if page.section == "github" %}docs--github{% endif %}
    {% if page.section == "bitbucket-server" %}docs--bitbucket-server{% endif %}
    {% if page.section == "orgs" %}docs--orgs{% endif %}
    {% if page.section == "security" %}docs--security{% endif %}
    {% if page.section == "badges" %}docs--badges{% endif %}
    {% if page.section == "notifications" %}docs--notifications{% endif %}
    {% if page.section == "ci" %}docs--ci{% endif %}
    {% if page.section == "bitbucket" %}docs--bitbucket{% endif %}">

      <ul class="nav nav-tree nav--docs nav--offset">
        <!--<li class="nav-tree__item nav--docs__item nav--docs__quick-start">
          <a href="/docs/quick-start" class="nav-tree__item__link">Quick start guide</a>
          {% if page.section == "quick-start" %}
          <ul class="nav-tree__branch">{% for article in site.docs_quick-start %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/quick-start/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>-->
        <li class="nav-tree__item nav--docs__item nav--docs__nodejs">
          <a href="/docs/nodejs/" class="nav-tree__item__link">Snyk for Node.js</a>
          {% if page.section == "nodejs" %}
          <ul class="nav-tree__branch">{% for article in site.docs_nodejs %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/nodejs/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__ruby">
          <a href="/docs/ruby/" class="nav-tree__item__link">Snyk for Ruby</a>
          {% if page.section == "ruby" %}
          <ul class="nav-tree__branch">{% for article in site.docs_ruby %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/ruby/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__java">
          <a href="/docs/java/" class="nav-tree__item__link">Snyk for Java</a>
          {% if page.section == "java" %}
          <ul class="nav-tree__branch">{% for article in site.docs_java %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/java/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__python">
          <a href="/docs/python/" class="nav-tree__item__link">Snyk for Python</a>
          {% if page.section == "python" %}
          <ul class="nav-tree__branch">{% for article in site.docs_python %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/python/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__scala">
          <a href="/docs/scala/" class="nav-tree__item__link">Snyk for Scala</a>
          {% if page.section == "scala" %}
          <ul class="nav-tree__branch">{% for article in site.docs_scala %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/scala/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__golang">
          <a href="/docs/golang/" class="nav-tree__item__link">Snyk for Golang</a>
          {% if page.section == "golang" %}
          <ul class="nav-tree__branch">{% for article in site.docs_golang %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/golang/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__dotnet">
          <a href="/docs/dotnet/" class="nav-tree__item__link">Snyk for .NET</a>
          {% if page.section == "dotnet" %}
          <ul class="nav-tree__branch">{% for article in site.docs_dotnet %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/dotnet/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__php">
          <a href="/docs/php/" class="nav-tree__item__link">Snyk for PHP</a>
          {% if page.section == "php" %}
          <ul class="nav-tree__branch">{% for article in site.docs_php %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/php/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__docker">
          <a href="/docs/docker/" class="nav-tree__item__link">Snyk for Docker</a>
          {% if page.section == "docker" %}
          <ul class="nav-tree__branch">{% for article in site.docs_docker %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/docker/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__heroku">
          <a href="/docs/heroku/" class="nav-tree__item__link">Snyk for Heroku</a>
          {% if page.section == "heroku" %}
          <ul class="nav-tree__branch">{% for article in site.docs_heroku %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/heroku/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__lambda">
          <a href="/docs/aws-lambda/" class="nav-tree__item__link">Snyk for AWS Lambda</a>
          {% if page.section == "aws-lambda" %}
          <ul class="nav-tree__branch">{% for article in site.docs_lambda %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/aws-lambda/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__azure-functions">
          <a href="/docs/azure-functions/" class="nav-tree__item__link">Snyk for Azure Functions</a>
          {% if page.section == "azure-functions" %}
          <ul class="nav-tree__branch">{% for article in site.docs_azure-functions %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/azure-functions/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__cloud-foundry">
          <a href="/docs/cloud-foundry/" class="nav-tree__item__link">Snyk for Cloud Foundry</a>
          {% if page.section == "cloud-foundry" %}
          <ul class="nav-tree__branch">{% for article in site.docs_cloud-foundry %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/cloud-foundry/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__picotal-web-services">
          <a href="/docs/picotal-web-services/" class="nav-tree__item__link">Snyk for Pivotal Web Services</a>
          {% if page.section == "picotal-web-services" %}
          <ul class="nav-tree__branch">{% for article in site.docs_picotal-web-services %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/pivotal-web-services/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__licenses">
          <a href="/docs/licenses/" class="nav-tree__item__link">Licenses</a>
          {% if page.section == "licenses" %}
          <ul class="nav-tree__branch">{% for article in site.docs_licenses %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/licenses/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__reports">
          <a href="/docs/reports/" class="nav-tree__item__link">Reports</a>
          {% if page.section == "reports" %}
          <ul class="nav-tree__branch">{% for article in site.docs_reports %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/reports/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__notifications">
          <a href="/docs/notifications/" class="nav-tree__item__link">Notifications</a>
          {% if page.section == "notifications" %}
          <ul class="nav-tree__branch">{% for article in site.docs_notifications %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/notifications/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__orgs">
          <a href="/docs/orgs/" class="nav-tree__item__link">Organisations</a>
          {% if page.section == "orgs" %}
          <ul class="nav-tree__branch">{% for article in site.docs_orgs %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/orgs/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__service-accounts">
          <a href="/docs/service-accounts/" class="nav-tree__item__link">Service Accounts</a>
          {% if page.section == "service-accounts" %}
          <ul class="nav-tree__branch">{% for article in site.docs_service-accounts %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/service-accounts/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__groups">
          <a href="/docs/groups/" class="nav-tree__item__link">Groups</a>
          {% if page.section == "groups" %}
          <ul class="nav-tree__branch">{% for article in site.docs_groups %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/groups/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__github">
          <a href="/docs/github/" class="nav-tree__item__link">GitHub integration</a>
          {% if page.section == "github" %}
          <ul class="nav-tree__branch">{% for article in site.docs_github %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/github/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__gitlab">
          <a href="/docs/gitlab/" class="nav-tree__item__link">GitLab integration</a>
          {% if page.section == "gitlab" %}
          <ul class="nav-tree__branch">{% for article in site.docs_gitlab %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/gitlab/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__ignoring-issues">
          <a href="/docs/ignoring-issues/" class="nav-tree__item__link">Ignoring issues</a>
          {% if page.section == "ignoring-issues" %}
          <ul class="nav-tree__branch">{% for article in site.docs_ignoring-issues %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/ignoring-issues/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__using-snyk">
          <a href="/docs/using-snyk/" class="nav-tree__item__link">Snyk CLI</a>
          {% if page.section == "using-snyk" %}
          <ul class="nav-tree__branch">{% for article in site.docs_using-snyk %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/using-snyk/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__broker">
          <a href="/docs/broker/" class="nav-tree__item__link">Broker</a>
          {% if page.section == "broker" %}
          <ul class="nav-tree__branch">{% for article in site.docs_broker %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/broker/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__custom-package-registries">
          <a href="/docs/custom-package-registries/" class="nav-tree__item__link">Custom Package Registries</a>
          {% if page.section == "custom-package-registries" %}
          <ul class="nav-tree__branch">{% for article in site.docs_custom-package-registries %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/custom-package-registries/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__ci">
          <a href="/docs/ci/" class="nav-tree__item__link">CI integration</a>
          {% if page.section == "ci" %}
          <ul class="nav-tree__branch">{% for article in site.docs_ci %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/ci/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__bitbucket">
          <a href="/docs/bitbucket/" class="nav-tree__item__link">Bitbucket Pipelines</a>
          {% if page.section == "bitbucket" %}
          <ul class="nav-tree__branch">{% for article in site.docs_bitbucket %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/bitbucket/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__jira-integration">
          <a href="/docs/jira-integration/" class="nav-tree__item__link">Jira Integration</a>
          {% if page.section == "jira-integration" %}
          <ul class="nav-tree__branch">{% for article in site.docs_jira-integration %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/jira-integration/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__slack-integration">
          <a href="/docs/slack-integration/" class="nav-tree__item__link">Slack Integration</a>
          {% if page.section == "slack-integration" %}
          <ul class="nav-tree__branch">{% for article in site.docs_slack-integration %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/slack-integration/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__api">
          <a href="https://snyk.docs.apiary.io/" class="nav-tree__item__link">API</a>
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__security">
          <a href="/docs/security/" class="nav-tree__item__link">Security</a>
          {% if page.section == "security" %}
          <ul class="nav-tree__branch">{% for article in site.docs_security %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/orgs/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__badges">
          <a href="/docs/badges/" class="nav-tree__item__link">Badges</a>
          {% if page.section == "badges" %}
          <ul class="nav-tree__branch">{% for article in site.docs_badges %}{% if article.title == "" %}{% else %}
            <li class="nav-tree__item {% if article.draft %}status--draft{% endif %}">
              <a href="/docs/orgs/#{{article.title | slugify}}" class="nav-tree__item__link">{{article.title}}</a>
            </li>{% endif %}{% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="nav-tree__item nav--docs__item nav--docs__faqs">
          <a href="https://support.snyk.io/" class="nav-tree__item__link">FAQs</a>
        </li>
      </ul>

      {% if page.title %}<h1 class="title">{{page.title}}</h1>{% endif %}

      {% if page.section == "quick-start" %}
      {% for article in site.docs_quick-start %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "nodejs" %}
      {% for article in site.docs_nodejs %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "ruby" %}
      {% for article in site.docs_ruby %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "java" %}
      {% for article in site.docs_java %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "python" %}
      {% for article in site.docs_python %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "scala" %}
      {% for article in site.docs_scala %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "golang" %}
      {% for article in site.docs_golang %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "dotnet" %}
      {% for article in site.docs_dotnet %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "php" %}
      {% for article in site.docs_php %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "docker" %}
      {% for article in site.docs_docker %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "heroku" %}
      {% for article in site.docs_heroku %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "aws-lambda" %}
      {% for article in site.docs_aws-lambda %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "azure-functions" %}
      {% for article in site.docs_azure-functions %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "cloud-foundry" %}
      {% for article in site.docs_cloud-foundry %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "pivotal-web-services" %}
      {% for article in site.docs_pivotal-web-services %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "using-snyk" %}
      {% for article in site.docs_using-snyk %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "faqs" %}
      {% for article in site.docs_faqs %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "github" %}
      {% for article in site.docs_github %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "gitlab" %}
      {% for article in site.docs_gitlab %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "ignoring-issues" %}
      {% for article in site.docs_ignoring-issues %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "notifications" %}
      {% for article in site.docs_notifications %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "bitbucket-server" %}
      {% for article in site.docs_bitbucket-server %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "orgs" %}
      {% for article in site.docs_orgs %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "groups" %}
      {% for article in site.docs_groups %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "security" %}
      {% for article in site.docs_security %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "badges" %}
      {% for article in site.docs_badges %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "ci" %}
      {% for article in site.docs_ci %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "landing" %}
      {% for article in site.docs_landing %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "bitbucket" %}
      {% for article in site.docs_bitbucket %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "jira-integration" %}
      {% for article in site.docs_jira-integration %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "slack-integration" %}
      {% for article in site.docs_slack-integration %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "broker" %}
      {% for article in site.docs_broker %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

      {% if page.section == "custom-package-registries" %}
      {% for article in site.docs_custom-package-registries %}
      {% if article.draft %}<div class="status--draft">{% endif %}
        {% if article.title == "" %}{% else %}<h2 id="{{article.title | slugify}}">{{ article.title }}</h2>{% endif %}
        {{ article.content | markdownify }}
      {% if article.draft %}</div><!-- .status--draft -->{% endif %}
      {% endfor %}
      {% endif %}

    </div>

  </div>

</div>

{% include footer.html %}

{% include foot.html %}
